@import 'libs/vars';
@import 'libs/functions';
@import 'libs/mixins';
@import 'libs/vendor';
@import 'libs/breakpoints';
@import 'libs/html-grid';



	body.is-preload {
		#banner {
			h2 {
				@include vendor('transform', 'none');
				opacity: 1;

				&:before, &:after {
					width: 100%;
				}
			}

			.more {
				@include vendor('transform', 'none');
				opacity: 1;
			}

			&:after {
				opacity: 0;
			}
		}
	}