body.is-preload #banner h2{-moz-transform:none;-webkit-transform:none;-ms-transform:none;transform:none;opacity:1}
body.is-preload #banner h2:after,body.is-preload #banner h2:before{width:100%}
body.is-preload #banner .more{-moz-transform:none;-webkit-transform:none;-ms-transform:none;transform:none;opacity:1}
body.is-preload #banner:after{opacity:0}